<% @recipes.each do |recipe| %>
  <div class="recipe card" style="width: 18rem;">
    <%= image_tag(recipe.image, class: 'card-img-top') %>
    <div class="card-body">
      <h5 class="card-title"><%= recipe.title %></h5>
      <p class="card-text"><%= recipe.description %></p>
      <a href="#" class="btn btn-primary">Cook</a>
    </div>
  </div>
<% end %>