<% @recipes.each do |recipe| %>
  <div class="recipe">
    <span><%= recipe.title %></span>
    <span><%= recipe.description %></span>
    <span><%= image_tag(recipe.image, style: 'height: 50px') %></span>
  </div>
<% end %>