<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#"><%= t('app_title') %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>

<div id="wrapper" class="container">
  <div class="row">
    <div id="products_container" class="col" data-product-list="<%= @product_list %>">
      <form class="form-inline">
        <label for="product_title"><%= t('products_picker_label') %></label>
        <input class="product_title form-control mr-sm-2" name="product_title"/>
      </form>
    </div>

    <div id="recipes_container" class="col">
      <h3><%= t('recipes_header_title') %></h3>
      <div id="recipes_body"></div>
    </div>
  </div>
</div>


test2